{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Css -->
        <link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/main_v2.css' %}">

        {% block css %}
        {% endblock %}
    </head>
    <body>
        <!-- {% include 'header.html' %} -->

        <div class="ui basic vertical segment">
            {% block content %}
            {% endblock %}
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'semantic/semantic.min.js' %}"></script>
        <script src="{% static 'main/main_v2.js' %}"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>