{% load static %}
<div class="ui basic vertical landing segment" style="height:100vh">
    <div class="ui container secondary inverted large parseleft menu">
        <div class="item header">
            WARUNGID
        </div>
        <div class="right menu">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}" class="item active">
                Logout
            </a>
            {% else %}
            <div class="item">
                <a href="{% url 'login' %}" class="ui orange small button">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="ui center aligned container">
        <div class="glide">
                <div class="glide__track" data-glide-el="track">
                    <ul class="glide__slides">
                        <li class="glide__slide">
                            <div class="ui vertical segment" >
                                <div class="ui stackable left aligned middle aligned grid" style="height:400px;">
                                    <div class="row">
                                        <div class="six wide column" style="color:#fff">
                                            <h1 class="ui inverted header">Isi Ulang <br> <span style="color:rgb(255, 252, 71)">Pulsa</span></h1>
                                            <p style="font-size:1.3em">
                                                Mudah, Aman, Cepat & Service Layanan 24 Jam
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="ui vertical segment" >
                                <div class="ui stackable left aligned middle aligned grid" style="height:400px;">
                                    <div class="row">
                                        <div class="six wide column" style="color:#fff">
                                            <h1 class="ui inverted header">Beli Paket Data<br> <span style="color:rgb(216, 0, 0)">Internet</span></h1>
                                            <p style="font-size:1.3em">
                                                Mudah, Aman, Cepat & Service Layanan 24 Jam
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="ui vertical segment" >
                                <div class="ui stackable left aligned middle aligned grid" style="height:400px;">
                                    <div class="row">
                                        <div class="six wide column" style="color:#fff">
                                            <h1 class="ui inverted header">Token<br> <span style="color:rgb(0, 255, 255)">Pulsa Listrik</span></h1>
                                            <p style="font-size:1.3em">
                                                Tanpa Perlu Ribet Transaksi Langsung Diproses
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="glide__slide">
                            <div class="ui vertical segment" >
                                <div class="ui stackable left aligned middle aligned grid" style="height:400px;">
                                    <div class="row">
                                        <div class="six wide column" style="color:#fff">
                                            <h1 class="ui inverted header">Voucher<br> <span style="color:rgb(255, 251, 0)">Game Online & e-Money</span></h1>
                                            <p style="font-size:1.3em">
                                                Dapat Diandalkan Kapanpun & Disaat Mendesak
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            <div class="glide__arrows" data-glide-el="controls">
                <!-- <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button> -->
            </div>
        </div>
    </div>
</div>