<i class="close icon"></i>
<div class="content">
    <div class="ui basic center aligned segment">
            <div class="ui inverted center aligned icon header">
                <i class="check icon"></i>
                Validasi Pembayaran
            </div>
            <p style="font-size:1.2rem">
                Pembayaran manual {{ cash.user }} senilai Rp {{ cash.nominal }}. Apakah Anda membenarkan transaksi tersebut?
            </p>
            
            <form action="{% url 'sale:cash_validation' cash.id %}" method="post" class="ui form js-validation-post">
                {% csrf_token %}
                <button class="ui green basic button" type="submit">Yes Valid</button>
                <button class="ui red basic button" type="button">No Invalid</button>
            </form>
    </div>
</div>