{% load humanize %}
<div class="ui stackable equal width grid">
    <div class="row">
        <div class="right aligned column">
            <div class="ui orange segment">
                <div class="ui mini orange icon statistic">
                    <div class="label">
                        unreport cash
                    </div>
                    <div class="value">
                        {{ request.user.undeliver_cash|intcomma }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="five wide column">
            <form action="{% url 'sale:cash_list' %}" class="ui form js-search">
                <div class="field">
                    <div class="ui input action">
                        <input type="text" placeholder="Search" name="search">
                        <button type="submit" class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mobile only">
        <div class="column">
            <div class="ui divided selection list">
                {% for cash in cashs %}
                <div class="ui item">
                    <div class="content right floated">
                        <div class="description" style="text-align:right">
                            <small>{% if cash.validated %}Validated by {{ cash.validateby.first_name|title }}{% else %}Waiting Validation{% endif %}</small> <br>
                            <small>on {{ cash.timestamp|date:"d/m/y H:i"}}</small> <br>
                            <small class="ui empty circular {% if cash.delivered %} green {% else %} orange {% endif %} label"></small>                            
                            <small>{% if cash.delivered %} <span style="color:green">Delivered</span> {% else %} <span style="color:orange">Still Keeping</span> {% endif %}</small> 
                        </div>
                    </div>
                    <div class="content">
                        <a class="header">
                            Pay IDR {{ cash.nominal|intcomma }}
                        </a>
                        <div class="description">
                            <small>{{ cash.user }}</small>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row computer only">
        <div class="column">
            <table class="ui small table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Leader</th>
                        <th>Nominal</th>
                        <th>Post Date</th>
                        <th>Status</th>
                        <th>Validated By</th>
                        <th>Delivered</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cash in cashs %}
                    <tr>
                        <td>{{ cash.user }}</td>
                        <td>{{ cash.agen }}</td>
                        <td>{{ cash.nominal }}</td>
                        <td>{{ cash.timestamp }}</td>
                        <td>{% if cash.validated %}Validated{% else %}Waiting Validate{% endif %}</td>
                        <td>{{ cash.validateby|default:'-' }}</td>
                        <td>{{ cash.delivered }}</td>
                        <td>
                            <i class="paperclip icon"></i>
                            {% if user.is_superuser and not cash.delivered %}
                                <a class="ui disabled link js-validate-btn" href="#" target-url="{% url 'sale:cash_validation' cash.id %}">
                                    <i class="crosshairs icon"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7">No data found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



