{% for sale in sales %}
    <tr class="">
        <td>{{ sale.trx_obj }} <br><small style="color:#666">{{ sale.trx_obj.responsetrx.ref2 }}</small> </td>
        <td>{{ sale.trx_obj.customer }}</td>
        <td>{{ sale.trx_obj.product.product_name }}</td>
        <td>
            {{ sale.credit }} <br>
            {% if user.is_staff or user.is_superuser %}
                <small style="color:#877">{{ sale.profit }}</small>
            {% endif %}
        </td>
        <td>{{ sale.user.full_name }}</td>
        <td>{{ sale.trx_obj.get_trx_status.get_status_display }}</td>
        <td>{{ sale.timestamp|date:"H:i" }} WIB <br>{{ sale.timestamp|date:"M d, Y" }} </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7">No data found.</td>
    </tr>
{% endfor %}