{% extends 'base_v2.html' %}
{% load humanize %}

{% block title %}
Member
{{ block.super }}
{% endblock %}

{% block content %}
    <div class="ui stackable grid">
        <div class="row">
            <div class="column">
                <div id="tabmenu" class="ui teal menu">
                    <a href="#" target-url="{% url 'sale:add_cash' %}" class="item">
                        <i class="add icon"></i>
                        Add Saldo
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h4>Member / Anggota</h4>

                <div id="tabmember" class="ui top attached tabular menu">
                    <a href="#" class="item active" data-tab="allmember">
                        All Members
                    </a>
                    <a href="#" class="item" data-tab="agen">
                        Agen Executive
                    </a>
                </div>
                <div id="users-tbl" target-url="{% url 'core:member' %}" class="ui bottom attached tab active segment" data-tab="allmember">
                    <!-- data -->
                </div>
                <div target-url="{% url 'core:agen_list' %}" class="ui bottom attached tab segment" data-tab="agen">
                    <!-- data -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function() {
        $('#tabmember.menu .item')
        .tab({
            cache: false,
            // faking API request
            apiSettings: {
            loadingDuration : 300,
            mockResponse    : function(settings) {
                var response = {
                allmember  : loadTab,
                agen : loadTab,
                };
                return response[settings.urlData.tab];
            }
            },
            context : 'parent',
            auto    : true,
            path    : '/'
        });

        var loadTab = function() {
            var tb = $(this);
            $.ajax({
                url: tb.attr('target-url'),
                dataType: 'json',
                success: function(data) {
                    tb.html(data.html);
                }
            });
            return false;
        }

        var loadmodalView = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#modal1').modal({inverted:true}).modal('show');
                },success: function(data) {
                    $('#modal1').html(data.html);
                }
            });
            return false;
        }
        
        var postForm = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                dataType: 'json',
                type: form.attr('method'),
                data: form.serialize(),
                success: function(data) {
                    if(data.form_is_valid) {
                        $('#modal1').modal('hide');
                        $('#users-tbl tbody').html(data.html_data);
                    }
                }
            });
            return false;
        }

        var t = $('#users-tbl')
        $.ajax({
            url: t.attr('target-url'),
            dataType: 'json',
            success: function(data) {
                $('#users-tbl').html(data.html);
            }
        });



        $('#users-tbl').on('click', '.js-btn-limit', loadmodalView);
        $('#modal1').on('submit', '.js-limit-form', postForm);

        $('#tabmenu').on('click', '.item', loadmodalView);
        $('#modal1').on('submit', '.js-add-cash', postForm);
    });
</script>
{% endblock %}
