{% extends 'base_v2.html' %}

{% block title %}
    Payment
    {{ block.super }}
{% endblock%}

{% block content %}
<div class="ui stackable grid">
    <div class="row">
        <div class="column">
            <h3 class="ui header">
                Payment / Pembayaran
            </h3>
            <div class="ui top attached tabular teal menu">
                {% if user.is_superuser %}
                    <a href="#" class="item active" data-tab='payment'>
                        Validated Payment
                    </a>
                {% endif %}
                <a href="#" class="item {% if not user.is_superuser %}active{% endif %}" data-tab='cash_pay'>
                    Cash / Tunai
                </a>
            </div>
            {% if user.is_superuser %}
            <div id="payId" class="ui bottom attached tab segment active" data-tab='payment' target-url="{% url 'sale:payment_list' %}">
                <!-- Data -->
            </div>
            {% endif %}
            <div id="cashId" class="ui {% if not user.is_superuser %} active {% endif %} bottom attached tab segment" data-tab='cash_pay' target-url="{% url 'sale:cash_list' %}">
                <!-- Data -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    $(document).ready(function() {
        $('.menu .item')
        .tab({
            cache: false,
            // faking API request
            apiSettings: {
            loadingDuration : 300,
            mockResponse    : function(settings) {
                var response = {
                payment  : getDataObj,
                cash_pay : getDataObj,
                };
                return response[settings.urlData.tab];
            }
            },
            context : 'parent',
            auto    : true,
            path    : '/'
        });

        var getDataObj = function() {
            var t = $(this);
            $.ajax({
                url: t.attr('target-url'),
                dataType: 'json',
                success: function(data) {
                    t.html(data.html);
                }
            });
            return false;
        }

        var t = $('.active.segment');
        $.ajax({
            url: t.attr('target-url'),
            dataType: 'json',
            success: function(data) {
                t.html(data.html);
            }
        });

        var loadMod = function() {
            var btn = $(this);
            $.ajax({
                url: btn.attr('target-url'),
                dataType: 'json',
                beforeSend: function() {
                    $('#modal2').modal('show');
                },
                success: function(data) {
                    $('#modal2').html(data.html);
                }
            });
            return false;
        }

        var postValidation = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    $('#cashId').html(data.data_html);
                    $('#modal2').modal('hide');
                }
            });
            return false;
        }

        var getSearchPay = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    $('#payId').html(data.html);
                }
            });
            return false;
        }

        var getSearchCash = function() {
            var form = $(this);
            $.ajax({
                url: form.attr('action'),
                dataType: 'json',
                data: form.serialize(),
                success: function(data) {
                    $('#cashId').html(data.html);
                }
            });
            return false;
        }

        $('#cashId').on('click', '.js-validate-btn', loadMod);
        $('#modal2').on('submit', '.js-validation-post', postValidation);

        $('#payId').on('submit', '.js-search', getSearchPay);
        $('#cashId').on('submit', '.js-search', getSearchCash);

    });
</script>
{% endblock %}
