{% extends 'base_v2.html' %}

{% block title %}
Sale Out
{{ block.super }}
{% endblock %}

{% block content %}
<div class="ui equal width stackable grid">
    <div class="row">
        <div class="column">
            <form action="{% url 'sale:sale_list' %}" class="ui form js-search-sale">
                <div class="six wide field">
                    <div class="ui small action input">
                        <input type="text" name="search" placeholder="Search">
                        <button type="submit" class="ui icon button">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="sale-tbl" class="row" data-ng-url="{% url 'sale:sale_list' %}">
        <div class="column computer only">
            <table class="ui small fixed table">
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Customer</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Buyer</th>
                        <th>Status</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- TRX Content -->
                </tbody>
            </table>
        </div>
        <div class="column mobile only">
            <div class="ui divided items">
                <!-- TRX MOBILE CONTENT -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="pageid" class="column">
            
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
    var item = $('#sale-tbl');
    $.ajax({
        url: item.attr('data-ng-url'),
        dataType: 'json',
        success: function(data) {
            $('#sale-tbl table tbody').html(data.html);
            $('#sale-tbl .ui.items').html(data.mobile_html);
            $('#pageid').html(data.html_page);
        }
    });
    
    var searchPost = function() {
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            dataType: 'json',
            data: form.serialize(),
            success: function(data) {
                $('#sale-tbl table tbody').html(data.html);
                $('#sale-tbl .ui.items').html(data.mobile_html);
                $('#pageid').html(data.html_page);
            }
        });
        return false;
    }

    var pageClick = function() {
        var btn = $(this);
        $.ajax({
            url: btn.attr('target-url'),
            dataType: 'json',
            success: function(data) {
                $('#sale-tbl table tbody').html(data.html);
                $('#sale-tbl .ui.items').html(data.mobile_html);
            }
        });
    }

    $('.js-search-sale').on('submit', searchPost);
    $('#pageid').on('click', '.js-page-btn', pageClick);
});
</script>
{% endblock %}
