<div class="ui centered stackable grid">
    <div class="row">
        <div class="eight wide column">
            <h2 class="ui center aligned header">
                Token Listrik
            </h2>
            {% if messages %}
                {% for message in messages %}
                <div class="ui negative message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'listrik:topup' %}" method="post" class="ui large form">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ form.phone.id_for_label }}">Nomor Meter / ID Pelanggan</label>
                    <div class="input">
                        {{ form.phone }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.product.id_for_label }}">Pilih Token</label>
                    <div class="input">
                        {{ form.product }}
                    </div>
                </div>
                <div class="field right aligned">
                    <button type="submit" class="ui large orange button">Beli Sekarang</button>
                </div>
            </form>
        </div>
    </div>
</div>