{% load humanize %}

<table class="ui small table">
    <thead>
        <tr>
            <th>Agen Id</th>
            <th>Full Name</th>
            <th>Count Member</th>
            <th>Unreport Cash</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for agen in agens %}
        <tr>
            <td>{{ agen }}</td>
            <td>{{ agen.full_name|title }}</td>
            <td>{{ agen.c_member }}</td>
            <td>{{ agen.undeliver_cash|intcomma }}</td>
            <td></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No data found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>