{% extends 'base_v3.html' %}
{% load widget_tweaks %}


{% block content %}
  <div class="ui text container">
    <div class="ui segment" style="background-color:rgba(255,255,255,0.4)">
      <h2 class="ui inverted header">
        Resset Password
      </h2>
      <form action="" method="post" class="ui large form">
          {% csrf_token %}
          <div class="field">
              <div class="ui action input">
                {% render_field form.email placeholder="Email Address" %}
                <button type="submit" class="ui button">Send Email</button>
              </div>
          </div>
      </form>
    </div>
  </div>
{% endblock %}