<div class="ui centered stackable grid">
    <div class="row">
        <div class="eight wide column">
            <h2 class="ui center aligned header">
                Pulsa & Data
            </h2>
            {% if messages %}
                {% for message in messages %}
                <div class="ui negative message">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'pulsa:topup' %}" method="post" class="ui large form">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ form.phone.id_for_label }}">No. Handphone</label>
                    <div class="input">
                        {{ form.phone }}
                    </div>
                </div>
                <div class="field">
                    <label for="{{ form.product.id_for_label }}">Pilih Produk</label>
                    <div class="input">
                        {{ form.product }}
                    </div>
                </div>
                <div class="field right aligned">
                    <button type="submit" class="ui large orange button">Beli Sekarang</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h4 class="ui header">
                Petunjuk Pembelian
            </h4>
            <p>
                <ol>
                    <li>Masukan nomor handphone tujuan.</li>
                    <li>Pilih nominal atau paket yang akan dibeli.</li>
                    <li>Click Beli Sekarang</li>
                </ol>
            </p>
        </div>
    </div>
</div>